*{
    margin: 0;
    padding: 0;
    /*border: red solid 1px;*/
}

.first-section{
    background-color: gray;
    height: 50px;
}

a{
    text-decoration: none;
    color: hsl(350, 100%, 88%);
    font-size: 18px;
    margin: 10px;
}

#logo{
    font-size: 24px;
    color: purple;
}

a:hover{
    color: hsl(350, 100%, 68%);
    cursor: pointer;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

ul{
    display: flex;
    flex-direction: row;
}

.nav-left, .nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.juri-pic{
    float: left;
}

.juri-info{
    font-size: 20px;
    padding-top: 50px;
    padding-left: 75px;
    color: white;
}

.juri-first-section{
    display: flex;
    justify-content: center;
    background-color: hsl(281, 100%, 19%);
    height: 250px;
}

.juri-first-combo-section{
    height: 321px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.f-j-w-n{
    padding-left: 200px;
    font-size: 25px;
}

.juri-second-combo-section{
    height: 321px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 26px;
}

.s-j-w-n{
    padding-left: 200px;
    font-size: 25px;
}

.juri-home-bar{
    height: 50px;
    background-color: hsl(281, 100%, 19%);
    display: flex;
    justify-content: center;
    align-items: center;
}




